@value makerWhite, makerBlack, background, primaryBtn from '../../common/colors.css';

.button {
  background-color: primaryBtn;
  color: makerBlack;
  font-weight: bold;
  cursor: pointer;
  padding: 0.5em;
  flex: 1 1 50%;
  font-size: 0.8rem;
}
