@value makerWhite, background, primaryBtn from '../../common/colors.css';
@value mediaQuery from '../../common/size.css';

.maker {
  padding-top: 4.5rem;
  padding-bottom: 2.5rem;
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex: 1;
}

@media screen and (max-width: mediaQuery) {
  .container {
    flex-direction: column;
  }
}
